.is-invalid{
    display: inline;
}
#card{
    
    margin-bottom: 10px;
    margin-top: 10px;
}
.result{
    display: flex;
    justify-content: center;
}
.loader-waiting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px; 
}