<div class="container">
    <h3>Rechercher les CVs selon un mot clé</h3>
    <hr>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Entrer le mot"
        [ngClass]="{ 'is-invalid': error && rechercheSubmitted }" [(ngModel)]="mot" (keyup)="error=false">
        <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="rechercher()" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" *ngIf="loading"></span> Classer</button>
        </div>
        <div *ngIf="error && rechercheSubmitted" 
            class="invalid-feedback">
            Entrer un mot pour lancer la requête.
        </div>
    </div>
    <hr>
    <!-- class="d-flex flex-wrap bg-light justify-content-between" -->
    <div class="bg-light d-flex flex-wrap bg-light justify-content-between" *ngIf="result">
        <div id="card" class="card" *ngFor="let cv of cvs | async;">
            <div *ngIf="showFile(cv.id) ? true : false">
                <pdf-viewer [original-size]="false" [autoresize]="true"
                 [render-text]="true" [src]="showFile(cv.id)" 
                  [render-text]="true" [zoom]="1" [show-all]="true"
                  style="display: block; height: 100vh;" *ngIf="cv.fichier.type==='application/pdf'; else displayImage">
                </pdf-viewer>
                <ng-template #displayImage>
                  <img [src]="showFile(cv.id)" style="width:100%">
                </ng-template>
            </div>
            <div class="card-body">
              <!-- <h4 class="card-title">{{cv.fichier.nom}}</h4>
              <p class="card-text"></p> -->
              <a class="btn btn-primary float-right" style="color: white; cursor: pointer;">Voir profil</a>
            </div>
        </div>
    </div>
    <div class="bg-light loader-waiting">
        <app-custom-loader></app-custom-loader>
    </div>
    
</div>