.authenticated{
    display: flex;
    flex-direction: row;
}

.authenticated>:nth-child(2){
    width: 100%;
    background-color: rgb(236, 236, 227);
    height: 580px;
    overflow: auto;
}

@media screen and (max-width: 767px) {
    .authenticated{
        display: flex;
        flex-direction: column;
    }
    .authenticated>:nth-child(2){
        height: 100%;
        overflow: visible;
    }
  }