<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-md-2 sidenav">
            <div class="menu-choix">
                <div class="choix">
                    <pre> <a routerLinkActive="active"><fa-icon [icon]="faNewspaper"></fa-icon> Actualités </a></pre>
                </div>
                <div class="choix">
                    <pre> <a routerLinkActive="active"><fa-icon [icon]="faAddressCard"></fa-icon> Mon CV </a></pre>
                </div>
                <div class="choix">
                    <pre> <a routerLinkActive="active"><fa-icon [icon]="faMailBulk"></fa-icon> Mes postules </a></pre>
                </div>
                <div class="choix">
                    <pre> <a routerLinkActive="active"><fa-icon [icon]="faUserPlus"></fa-icon> Mon compte </a></pre>
                </div>
                <div class="choix">
                    <pre> <a routerLinkActive="active"><fa-icon [icon]="faBell"></fa-icon> Notifications </a></pre>
                </div>     
            </div>
            
        </div>
    </div>
</div>