<div class="back">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" >
                <div class="m-5 head" *ngIf="!sent">
                    <img src="../../favicon.ico" id="logo">
                    <h4 class="m-2">Récupérer votre mot de passe</h4>
                    <div class="formLog col-md-7">
                        <form [formGroup]="resetForm" (ngSubmit)="onSubmitForm()">
                            <div class="form-group">
                              <label for="email"><strong>Email</strong></label>
                              <input type="email" class="form-control"
                               placeholder="Entrer l'email" id="email"formControlName="email"
                               [ngClass]="{ 'is-invalid': f.email.errors 
                                 &&(f.email.dirty || f.email.touched || submitted)}">
                                 <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched || submitted)" 
                                  class="invalid-feedback">
                                   <div *ngIf="f.email.errors.required">
                                     Entrer un email de votre compte
                                   </div>
                                   <div *ngIf="f.email.errors.email">
                                    Entrer un email valide
                                  </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success " id="btn-submit" [disabled]="loading">
                              <span class="spinner-border spinner-border-sm" *ngIf="loading"></span>
                                Envoyer un email de récupération
                            </button>
                          </form>
                    </div>
                    <div class="inscrire col-md-7 m-2">
                      Vous n'avez pas un compte? 
                      <a routerLink="/inscription">
                        Créer un compte
                      </a>
                    </div>
                </div>
                <app-succes-inscription [email]="resetForm.value['email']" *ngIf="sent"
                [message]="message"></app-succes-inscription>
            </div>
            
            <div class="col-md-2"></div>
        </div>
    </div>
</div>