<div class="media border p-3" id="ac" *ngIf="obs | async as o;">
    <img src="../../../favicon.ico" alt="Offre" class="mr-3 mt-3 img-fluid rounded-circle" style="width:80px;">
    <div class="media-body">
      <div class="l1">
        <h4>{{o.titre}} <small><i>Posté le {{o.createdDate | date}}</i></small></h4>
        <h3><span class="badge badge-secondary" *ngIf="(o.createdDate | date: 'd')==(ajourdhui | date: 'd')">
          Annonce</span></h3>
      </div>
      <p>De l'organisme <strong style="color: rgb(0, 140, 147);"> {{o.organisme.nomOrganisme}} </strong>dont son secteur est <strong style="color: rgb(0, 140, 147);"> {{o.organisme.secteur}} </strong></p>
      <p>{{o.description}}</p>
      <h5> Les compétences demandés: 
        <span class="badge badge-light" 
        *ngFor="let item of o.competences" style="margin-right: 2px;">
        {{item.titre}} 
        </span>
      </h5>
      <a class="btn btn-success" id="voir-details-btn" 
      data-toggle="modal" [attr.data-target]="'#voir-details-offree'+o.id" style="color: white;">Voir détails</a>
    </div>
    <app-modal titre="Voir les détails de cette offre" idModal="voir-details-offree{{o.id}}" [tableauClasses]="objStylesDetails">
      <div *ngIf="postul==false">
        <app-details-offre idOffre={{o.id}}></app-details-offre>
        <hr>
        <div class="float-right">
          <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
        </div>
        <div>
          <button type="button" class="btn btn-success"
            *ngIf="roleU=='CANDIDAT' && postul==false" (click)="postul=true">Postuler
          </button>
        </div>
      </div>
      <div *ngIf="postul && roleU=='CANDIDAT'">
        <h4>Séléctionner un CV pour cette offre</h4>
        <table>
          <tr *ngFor="let cv of cvsObservable | async;let i=index">
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" (click)="select($event.target.value)" value="{{cv | json}}" class="custom-control-input" id="customRadio{{i}}" name="choixCv{{o.id}}">
                <label class="custom-control-label" for="customRadio{{i}}">{{cv.fichier.nom}}</label>
              </div> 
            </td>
          </tr>
          <tr *ngIf="cvs.length===0">
            <td>
              Aucun CV à postuler<br>
              <a [routerLink]="['/authenticated/candidat',{outlets:{authenticated:['mon-cv']}}]" routerLinkActive="router-link-active"
              data-dismiss="modal" >  Postuler un CV</a>
            </td>
          </tr>
        </table>
        <div *ngIf="error" class="invalid-feedback">
          Séléctionner un cv
        </div>
        <hr>
        <div class="float-right">
          <button type="button" class="btn btn-warning" (click)="postul=false">Annuler</button>
          <button type="button" class="btn btn-success" (click)="postulerCandidature(o.id)" [disabled]="loadingPostule || cvs.length==0">
            <span class="spinner-border spinner-border-sm" *ngIf="loadingPostule"></span> Postuler</button>
        </div>
      </div>
    </app-modal>
</div>