<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 alert alert-success m-5">
            <strong>Succès!</strong> Votre inscription a été effectuée avec succès. <br>
            Un email de confirmation a été envoyé à l'adresse : <strong>{{email}}</strong>.
            <br>Vous devez confirmer votre compte. <br><br>
            <a routerLink="/authentification" class="alert-link">Connectez-vous maintenant</a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
