<form [formGroup]="form">
    <app-file-upload formControlName="file" (fileUrlToSend)="getFile($event)"></app-file-upload>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
    </div>
    <div *ngIf="f.file.errors && (f.file.dirty || f.file.touched || photoSubmitted)" 
            class="invalid-feedback">
        <div *ngIf="f.file.errors.required">
            Uploader un CV
        </div>
        <div *ngIf="f.file.errors.requiredFileType">
            Le CV doit être de type .pdf,.jpg,.png,.jpeg,.bmp,.gif,.tif,.tiff,.webp
        </div>
    </div>
    <br><br>
    <div class="btns-photo">
        <button type="button"   class="btn btn-info">Appliquer</button>
        <button type="reset"   class="btn btn-danger" style="color: white;">Annuler</button>
        <button type="submit"  class="btn btn-success" [disabled]="loadingPhoto">
            <span class="spinner-border spinner-border-sm" *ngIf="loadingPhoto"></span>Modifier</button>
    </div>
</form>