<div class="container">
    <div class="card" style="margin-top: 25px;">
        <div class="card-header" ><h3>Mes candidatures</h3></div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Offre</th>
                    <th>Date de dépôt</th>
                    <th>Statut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of candidatures | async">
                    <td>{{item.offre.titre}}</td>
                    <td>{{item.dateCandidature | date }}</td>
                    <td>
                      <div class="btn-true" *ngIf="item.etat"></div>
                      <div class="btn-false" *ngIf="!item.etat"></div>
                    </td>
                  </tr>
                  <tr *ngIf="candidaturesTab.length==0">
                    <td>Aucune postule</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div> 
  </div>
  