<div class="container">
    <h2>Mes candidatures</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Offre</th>
          <th>CV</th>
          <th>Date de dépôt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of candidatures | async;">
          <td>{{item.offre.titre}}</td>
          <td>{{item.idCv}}</td>
          <td>{{item.dateCandidature | date }}</td>
        </tr>
        <tr *ngIf="candidaturesTab.length==0">
          <td>Aucune postule</td>
        </tr>
      </tbody>
    </table>
  </div>
  