.card{
    border-radius: 15px;
    margin: 30px;
}
#voir-details-btn{
    float: right;
}
.card-header{
    background: linear-gradient(60deg,#ef5350,#e53935);
    background-image: linear-gradient(60deg, rgb(239, 83, 80), rgb(229, 57, 53));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: white;
}
/*.photo{
    position: absolute;
    right: 30%;
    bottom: 25%;
    height: 160px;
    width: 186px;
    z-index: 2;
}*/

.btns-photo{
    display: flex;
    justify-content: flex-end;
}
.btns-photo>button{
    margin-left: 3px;
}
.btns-donnees-personnelles{
    display: flex;
    justify-content: flex-end;
}
.btns-donnees-personnelles>button{
    margin-left: 3px;
}
@media screen and (max-width: 967px) and (min-width: 576px), (max-width: 376px) {
    .btns-photo{
        display: flex;
        flex-direction: column;
    }
    .btns-photo>button{
        margin-top: 3px;
    }
}
@media screen and (max-width: 282px){
    .btns-donnees-personnelles{
        display: flex;
        flex-direction: column;
    }
    .btns-donnees-personnelles>button{
        margin-top: 3px;
    }
}
.invalid-feedback{
    display: inline;
}
#photoDeProfil{
    max-width: 100%;
    max-height: 20%;
}
