<div class="card">
    <div class="card-header">Modifier les informations personnelles</div>
    <div class="card-body">Content</div>
    <div class="card-footer">Footer</div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Modifier la photo</div>
            <div class="card-body">
              <img class="rounded-circle img-fluid float-right" src="../../../assets/images/taswirti.JPG" alt="Photo de profil" >
              <h4 class="card-title">Marwen Hanzouli</h4>
              <form>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" (ngModel)="photo">
                    <label class="custom-file-label" for="customFile">{{photo | json}}Choose file</label>
                </div>
                <br><br>
                <div class="btns-photo">
                    <button type="submit"  class="btn btn-info">Appliquer</button>
                    <button type="reset"   class="btn btn-warning" style="color: white;">Annuler</button>
                    <button type="submit"  class="btn btn-success">Modifier</button>
                </div>
              </form>
            </div>
        </div>  
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Modifier le mot de passe</div>
            <div class="card-body">Content</div>
            <div class="card-footer">Footer</div>
        </div>
    </div> 
</div>